.canvas-container {
    width: 100%;
    max-width: 400px;
    height: auto;
}

canvas {
    margin: 10px;
    border-radius: 20px;
    object-fit: cover;
    height: auto;
    border: 1px solid black;
    box-shadow: rgba(186, 185, 185, 0.669) 0px 5px 15px;
}