.canvas-container {
    width: 100%;
    max-width: 500px;
    height: auto;
    width: 100%;
    grid-column: 2;
    margin-inline: auto;
}

canvas {
    border-radius: 2em;
    width: 100%;
    display: block;
    margin: 10px;
    border-radius: 20px;
    object-fit: cover;
    height: auto;
    border: 1px solid black;
    box-shadow: rgba(186, 185, 185, 0.6) 0px 5px 15px;
}