@media (max-width: 1000px) {
    .btn-menu {
        display: block;
    }

    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -8px 0px 20px rgb(0 0 0 / 15%);
    }

    .main-nav {
        position: fixed;
        top: 130px;
        right: 0;

        height: 100vh;
        width: 100%;

        border-inline-start: 1px solid #ccc;
        background-color: rgba(40, 36, 36, 0.75);

        transform: translateX(100%);
        transition: transform 0.8s, box-shadow 0.8s;
    }

    .main-nav li {
        height: 130px;
        width: 90%;

        transition: opacity 0.4s;
    }

    .main-nav li a {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #807f80;
        font-size: 30px;
        text-transform: uppercase;

        height: 130px;
        width: 100%;
    }

    .main-nav li:hover {
        opacity: 0.9;
    }

    .gallery-header {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 6px 1px dimgrey;
        padding: 15px;
        gap: 15px;
    }

    .gallery-container {
        margin-inline-end: auto;
    }

    .search-field {
        width: 100%;
    }

    .logo img {
        width: 250px;
        padding: 40px;
    }

    .controls-container {
        grid-column: 2;
        margin-inline-start: auto;
    }
}

@media (min-width: 1000px) {
    .btn-menu {
        display: none;
    }
}